body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.site-header {
    background: #339;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.cart {
    padding: 25px;
}

.cart__contents {
    display: grid;
    border: 2px solid #ccc;
    grid-template-columns: 3fr repeat(4, 1fr);
    padding: 0;
}

.cart__column-header {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 8px;
}

.cart__product-name,
.cart__product-price,
.cart__product-qty,
.cart__product-total,
.cart__product-weight,
.cart__total-span,
.cart__total-cost,
.cart__total-weight {
    border-top: 1px solid #ccc;
    padding: 8px;
}

.cart__total-span {
    font-weight: bold;
    grid-column: 1 / span 3;
    text-align: right;
}

.cart__total-cost {
    font-weight: bold;
}

.update-cart-button {
    cursor: pointer;
    float: right;
    margin: 8px 0;
}