body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.site-header {
    background: #339;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.cart {
    padding: 25px;
}

.cart__contents {
    display: grid;
    border: 2px solid #ccc;
    grid-template-columns: 3fr repeat(4, 1fr);
    padding: 0;
}

.cart__column-header {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 8px;
}

.cart__product-name,
.cart__product-price,
.cart__product-qty,
.cart__product-total,
.cart__product-weight,
.cart__total-label,
.cart__total-cost,
.cart__total-weight,
.cart__shipping-label,
.cart__shipping-cost {
    border-top: 1px solid #ccc;
    padding: 8px;
}

.cart__total-label,
.cart__shipping-label {
    font-weight: bold;
    grid-column: span 3;
    text-align: right;
}

.cart__total-cost {
    font-weight: bold;
}

.cart__shipping-cost {
    grid-column: span 2;
}

.cart__product-qty-input {
    width: 6ch;
}

.update-cart-button {
    cursor: pointer;
    float: right;
    margin: 8px 0;
}

.page-footer {
    background: #eee;
    border-top: 1px solid #ccc;
    margin-top: auto;
    padding: 8px;
}
